<?xml version='1.0' encoding='utf-8'?>
<plugin id="localPlayerPlugin" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
<name>localPlayerPlugin</name>
<js-module name="localPlayerPlugin" src="www/localPlayerPlugin.js">
<clobbers target="cordova.plugins.localPlayerPlugin" />
</js-module>
<platform name="android"><config-file parent="/*" target="res/xml/config.xml">
<feature name="localPlayerPlugin">
<param name="android-package" value="localPlayerPlugin.localPlayerPlugin" />
</feature>
</config-file>
<config-file parent="/*" target="AndroidManifest.xml">
<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
</config-file>
<source-file src="src/android/localPlayerPlugin.java" target-dir="src/localPlayerPlugin/localPlayerPlugin" />
<source-file src="src/android/MyPlayerOnCompletionListener.java" target-dir="src/localPlayerPlugin/localPlayerPlugin" />
</platform>
</plugin>